* {
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
}

header {
  padding: 80px;
  text-align: center;
  background: rgb(204, 115, 255);
  color: rgb(255, 255, 255);
}

ol {
  padding: 30px;
  text-align: center;
}

ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

p {
  margin: 0;
}

ol li.completed {
  background: rgb(136, 136, 136);
  color: rgb(255, 255, 255);
  text-decoration: line-through  2px solid red;
}

ol li:hover {
  background: rgb(221, 221, 221);
}

ol:only-child{
  list-style-type: none;
}

footer {
  margin-top: 200px;
  padding: 40px;
  text-align: center;
  background: rgb(204, 115, 255);
  color: rgb(255, 255, 255);
}

.description {
  margin: auto;
  background: rgb(214, 214, 214);
  padding: 30px;
  max-width: 60%;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 22px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 5%;
  height: 25px;
  width: 25px;
  background-color: rgb(238, 238, 238);
  border-radius: 2px;
}

.container:hover input ~ .checkmark {
  background-color: rgb(204, 204, 204);
}

.container input:checked ~ .checkmark {
  background-color: rgb(255, 10, 84);
}

.container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container-add-task {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-add-task input {
  max-width: 310px;
  margin: 50px 0;
}

.close:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 30px;
  text-align: center;
}

#criar-tarefa {
  margin: 0 10px;
}